/*各裝置版面設定*/
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
}

html {
    overflow-x: hidden;
}

html, body { overscroll-behavior-x: none; }

html {
    scroll-behavior: smooth;
}

/*手機版面*/
@media (min-width: 600px) {
    .navbar { display: flex; }
}
/*平板版面*/
@media (min-width: 900px) {
    .sidebar { display: block; }
}
/*桌機版面*/
@media (min-width: 1200px) {
    .container { max-width: 1140px; margin: 0 auto; }
}

/*頁面設計*/
body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    letter-spacing: 1.5px;
    position: relative;
}

.header {
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
    background-image: url('../images/head-image.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
}

.header-title {
    margin: 0;
    font-size: 2.3rem;
    font-family: 'Noto Sans TC', serif;
    letter-spacing: 10px;
    font-weight: 400;
}

.header-subtitle {
    font-size: 1rem;
    letter-spacing: 3px;
    margin-top: 0.5rem;
    font-weight: 300;
}

main {
    padding: 0 0 0 2rem;
    box-sizing: border-box;
}
  

/*導覽列*/
nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 4rem 1rem 4rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}
nav button,
nav a {
    justify-content: flex-start;
    background: none;
    color: #5e5e5e;
    border: none;
    padding: 0.5rem 1rem;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.26rem;
    font-weight: 500;
    letter-spacing: 1.4px;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
    text-decoration: none;
}
nav button:not(:last-child)::after,
nav a:not(:last-child)::after {
    content: "|";
    color: #D3C8BF;
    position: absolute;
    right: -0.8rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
}
nav button:hover,
nav a:hover {
    text-decoration: none;
    color: #444;
}
  
#nav-trigger {
    height: 1px;
    margin-bottom: -1px;
}
#navbar.scrolled {
    border-bottom: 1px solid rgba(211, 200, 191, 0.5);
}

#group {
    scroll-margin: 7rem;
}

#itinerary {
    scroll-margin: 7rem;
}

.agency {
    font-family: 'Noto Sans TC', serif;
    font-weight: 350;
    font-size: 1.1rem;
    background-color: #b5a597;
    color: white;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    white-space: nowrap;
    display: inline-block;
    border-radius: 0.8rem 0.8rem 0 0.8rem;
    cursor: pointer;
    margin-left: auto;
}

.agency:hover {
    text-decoration: none;
    color: white;
    background-color: #8f613e;
}

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);   
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    border-radius: 1rem;
}

.lol {
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    margin: 0 2rem 0 2rem;
    color: white;
    font-family: 'Noto Serif TC', serif;
    font-size: 2rem;
    font-weight: 520;
    letter-spacing: 20px;
}


/*團體資訊*/
.group-title {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin: 2rem 0 3rem 3rem;
}

.group-title-ch {
    color: #8F613E;
    font-family: 'Noto Serif TC', serif;
    font-size: 2rem;
    font-weight: 520;
    letter-spacing: 10px;
}

.group-title-eng-wrapper {
    position: relative;
    flex: 1;
}

.group-title-eng {
    color: #D3C8BF;
    font-family: 'Times New Roman', serif;
    font-size: 2.9rem;
    font-weight: 400;
    letter-spacing: 7px;
    opacity: 0.4;
}

.group-title-underline {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-bottom: 1px solid #D3C8BF;
    opacity: 0.4;
    margin-top: -0.7rem;
}

.tour-info {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-left: 3rem;
    margin-bottom: 5rem;
}

.tour-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tour-subtitle {
    font-weight: 500;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: -1rem;
}

.tour-content {
    font-weight: 600;
    font-size: 1rem;
    color: #8F613E;
}

.tour-status-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.tour-status {
    font-weight: 400;
    font-size: 0.9rem;
    color: #b69e89;
    border: 1px solid #b69e89;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem;
    white-space: nowrap;
    display: inline-block;
}


/*本次航班與旅程精選（標題）*/
.flight_highlight-title-wrapper {
    display: flex;
    align-items: center;
    margin: 3rem 0 2rem 3rem;
    gap: 1rem;
}

.flight_highlight-title {
    color: #8F613E;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 5px;
    white-space: nowrap;
}

.flight_highlight-title-line {
    flex: 1;
    border-bottom: 1px solid #D3C8BF;
    opacity: 0.4;
}

/*本次航班（內文）*/
.flight-info {
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    margin-bottom: 5rem;
}

.flight-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.flight-subtitle {
    font-weight: 500;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.flight-date {
    font-weight: 600;
    font-size: 1rem;
    color: #8F613E;
    margin-bottom: 1.5rem;
}

.flight-airline {
    font-weight: 350;
    font-size: 0.95rem;
    color: #626161;
    align-items: baseline;
}

.airline-logo {
    width: 20px;
    height: 20px;
    object-fit: contain;
    vertical-align: middle;
}

.flight-route {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.flight-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.flight-segment .city {
    font-weight: 400;
    font-size: 0.9rem;
    color: #333;
    white-space: nowrap;
}

.flight-segment .time {
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
    white-space: nowrap;
}

.flight-duration {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 1rem;
    font-weight: 400;
    font-size: 0.9rem;
    color: #333;
}

.duration-line {
    flex: 1;
    border-bottom: 1px dashed #5e5e5e;
    width: 4rem;
    font-weight: 3rem;
}

.duration-time {
    font-weight: 400;
    font-size: 1rem;
    color: #5e5e5e;
    margin: 0 0.5rem 0 0.5rem;
}

.plane-icon {
    width: 25px;
    opacity: 0.7;
}

/*旅程精選（內文）*/
.highlight-gallery {
    display: flex;
    overflow-x: auto;
    padding-left: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    gap: 2rem;
}

.highlight-segment {
    border: 1px solid #bea895;
    border-radius: 1rem 1rem 0 1rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
    flex: flex-start;
    display: inline-block;
    white-space: nowrap;
}

.highlight-segment .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.highlight-segment .title {
    font-weight: 500;
    font-size: 1.15rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.highlight-segment .content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight-segment .content {
    font-weight: 350;
    font-size: 0.95rem;
    color: #626161;
    align-items: stretch;
}

.highlight-info {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-left: 3rem;
    margin-bottom: 2rem;
}

.highlight-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.highlight-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.highlight-subtitle {
    font-weight: 500;
    font-size: 1.1rem;
    color: #333;
    padding-right: 2rem;
}

.highlight-content {
    font-weight: 350;
    font-size: 1rem;
    color: #626161;
}

.highlight-footprint {
    width: 20px;
    height: 20px;
    object-fit: contain;
    vertical-align: middle;
    opacity: 0.85;
}

/*精選影片*/
.focusing-wrapper {
    display: flex;
    align-items: center;
    margin: 4rem 0 3rem 3rem;
    gap: 1rem;
}

.focusing {
    color: #D3C8BF;
    font-family: 'Times New Roman', serif;
    font-size: 2.9rem;
    font-weight: 400;
    letter-spacing: 7px;
    opacity: 0.4;
    white-space: nowrap;
}

.focusing-line {
    flex: 1;
    border-bottom: 1px solid #D3C8BF;
    opacity: 0.4;
}

.highlight-video {
    text-align: center;
    margin-bottom: 10rem;
}

.inline-video {
    width: 85%;
    height: auto;
}


/*每日行程*/
.day {
    background: transparent;
    box-sizing: border-box;
    margin-left: 4.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    position: relative;
}
.day h2 {
    margin-top: 0;
    color: #626161;
    font-family: 'Times New Roman', serif;
    font-size: 4rem;
    z-index: 1;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease, transform 1s ease;
}
.day h2.visible {
    opacity: 1;
    transform: translateX(0);
}
#day-trigger {
    height: 1px;
}


/*天數導航*/
.day-nav {
    position: fixed;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 999;
    gap: 1rem;
}
.day-nav a{
    text-decoration: none;
    color: #626161;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    gap: 0.5rem;
}
.day-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #b69e89;
    background-color: transparent;
}
.day-dot.active {
    background-color: #b69e89
}
#dayNav {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
#dayNav.visible {
    opacity: 1;
    pointer-events: auto;
}

/*天數大標與遊玩區域*/
.subtitle {
    margin-top: -2rem;
    margin-bottom: 2rem;
    color: #626161;
    font-family: 'Noto Sans TC', serif;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1.4px;
    padding-bottom: 1.5rem;
    display: block;
    position: relative;
    width: 100%;
    max-width: 50rem;
    border-bottom: none;
    z-index: 0;
}
.subtitle::before {
    content: "";
    position: absolute;
    font-weight: 300rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    border-right: 1px solid #D3C8BF;
    border-bottom: 1px solid #D3C8BF;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    z-index: -1;
}
.subtitle-wrapper {
    position: relative;
    overflow: visible;
    width: 100%;
    max-width: 100%;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease, transform 1s ease;
}
.subtitle-wrapper.visible {
    opacity: 1;
    transform: translateX(0);
}
.bg-accent {
    content: "";
    position: absolute;
    top: 1rem;
    left: 50vw;
    right: 0;
    height: 16.5rem;
    background-color: #F1EDEA;
    z-index: -1;
    border-radius: 3rem 0 0 3rem;
    pointer-events: none;
}

/*景點圖片與文字說明*/
.image-gallery {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    gap: 3rem;
    padding: 0 3rem 0 3rem;
    margin-top: 5rem;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease, transform 1s ease;
}
.image-gallery.visible {
    opacity: 1;
    transform: translateX(0);
}
.image-item {
    flex: 0 0 auto;
    /*margin: 0 auto;*/
    width: 330px;
    max-width: 35%;
}
.image-item img {
    width: 100%;
    aspect-ratio: 4.7/3;
    border-radius: 25px 25px 0 25px;
    object-fit: cover;
    vertical-align: middle;
}
.sight-title {
    font-size: 1.05rem;
    color: #8F613E;
    font-weight: 400;
    margin-top: 1.2rem;
}
.sight-desc {
    font-size: 0.95rem;
    color: #7b7b7b;
    max-width: 40ch;
    font-weight: 100;
    line-height: 1.4;
    margin-top: 1.5rem;
}

/*行程總覽、餐食、住宿*/
.info {
    display: flex;
    align-items: stretch;
    gap: 3rem;
    position: relative;
    margin-left: 3rem;
    font-family: 'Noto Serif TC', serif;
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease, transform 1s ease;
}
.info.visible {
    opacity: 1;
    transform: translateX(0);
}
.info-itinerary {
    display: flex;
    align-items: stretch;
    gap: 5rem;
    position: relative;
    width: 50%
}
.itinerary-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.itinerary-label img {
    width: 80px;
    height: 80px;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
}
.itinerary-label p {
    font-size: 1.1rem;
    color: #8f613e;
    font-weight: 400;
    letter-spacing: 2.5px;
}
.itinerary-content p {
    font-size: 1.07rem;
    color: #4f4f4f;
    line-height: 2rem;
    font-weight: 350;
}
.info-divider {
    width: 0.5px;
    background-color: #D3C8BF;
    margin: 2rem 0rem;
}
.info-others {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}
.others-food {
    display: flex;
    align-items: stretch;
    gap: 3rem;
    position: relative;
}
.food-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.food-label p {
    font-size: 1.1rem;
    color: #8f613e;
    font-weight: 400;
    letter-spacing: 2.5px;
}
.food-content p {
    font-size: 1rem;
    color: #4f4f4f;
    line-height: 1.7rem;
    font-weight: 330;
}
.others-hotel {
    display: flex;
    align-items: stretch;
    gap: 3rem;
    position: relative;
}
.hotel-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hotel-label p {
    font-size: 1.1rem;
    color: #8f613e;
    font-weight: 400;
    letter-spacing: 2.5px;
}
.hotel-content p {
    font-size: 1rem;
    color: #4f4f4f;
    line-height: 1.7rem;
    font-weight: 330;
}